body{
    font-family:Calibri,sans-serlf;
    background-color:orange;
}
div{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
table{
    width: 100%;
    text-align: center;
}
th{
    background-color: gray;
    color: black;
}
img{
border-radius: 50%;
box-shadow: 0 0 10px black;
}